{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">  

<form>
    <div class="form-group">
      <fieldset class="inline">
  
        <legend>
          <h1 class="heading-medium">
            That worked better than expected. 
          </h1>
        </legend>
  
        <div class="grid-row">
            <div class="column-two-thirds">
        <input class="button" type="submit" value="Exit">
        </div>
        </div>

      </fieldset>
    </div>
  </form>

</div>
</div>
</main>

  {% endblock %}


